
.idea/catawish.mongo.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

mongo-volume/
data/
src/back/vendor/
projetMongoDB/src/api/node_modules/
projetMongoDB/node_modules
